<a href="https://colab.research.google.com/github/sathamhussain7/task-7/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np

**Step 2: Importing dataset**

In [ ]:
df=pd.read_csv('/content/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
df.shape

(10, 4)

In [ ]:
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

**Step 3: Handling the missing data**

In [ ]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
df['Age'].mean()

38.77777777777778

In [ ]:
df['Salary'].mean()

63777.77777777778

In [ ]:
df['Salary']=df['Salary'].fillna(df['Salary'].mean())
df['Age']=df['Age'].fillna(df['Age'].mean())
df

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

**Step 4: Encoding categorical data**

In [ ]:
df.Country=df.Country.map({'France':1,'Spain':2,'Germany':3})
df

   Country        Age        Salary Purchased
0        1  44.000000  72000.000000        No
1        2  27.000000  48000.000000       Yes
2        3  30.000000  54000.000000        No
3        2  38.000000  61000.000000        No
4        3  40.000000  63777.777778       Yes
5        1  35.000000  58000.000000       Yes
6        2  38.777778  52000.000000        No
7        1  48.000000  79000.000000       Yes
8        3  50.000000  83000.000000        No
9        1  37.000000  67000.000000       Yes

**Step 5: Creating a dummy variable**

In [ ]:
pd.get_dummies(df['Country'])

   1  2  3
0  1  0  0
1  0  1  0
2  0  0  1
3  0  1  0
4  0  0  1
5  1  0  0
6  0  1  0
7  1  0  0
8  0  0  1
9  1  0  0

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
X = df[['Country','Age','Salary']].values # select all rows and select all columns except the last column as my feature
y = df['Purchased'].values # target as arrays
from sklearn.model_selection import train_test_split #import the required function
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=7)

In [ ]:
X_train.shape,X_test.shape

((8, 3), (2, 3))

**Step 7: Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler ## standrard scaling 
scaler = StandardScaler() #initialise to a variable
scaler.fit(X_train) # we are finding the values of mean and sd from the td
X_train_scaled = scaler.transform(X_train) # fit (mean, sd) and then transform the training data
X_test_scaled = scaler.transform(X_test) # transform the test data

In [ ]:
X_train_scaled

array([[-1.12089708,  0.96322786,  1.00412676],
       [ 1.44115338, -1.22849602, -0.82104614],
       [ 0.16012815, -1.69815114, -1.42943711],
       [-1.12089708, -0.13263408,  0.49713428],
       [-1.12089708,  1.58943468,  1.71391622],
       [ 0.16012815,  0.02391762, -0.11125668],
       [ 0.16012815,  0.14568006, -1.02384313],
       [ 1.44115338,  0.33702103,  0.1704058 ]])

In [ ]:
X_test_scaled

array([[ 1.44115338,  1.90253809,  2.1195102 ],
       [-1.12089708, -0.4457375 , -0.41545216]])