<a href="https://colab.research.google.com/github/sathamhussain7/task-7/blob/main/KNN_Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np

**Importing the dataset**

In [ ]:
df=pd.read_csv('/content/Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
df.shape

(400, 5)

In [ ]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
df=df.drop_duplicates()
df.shape

(400, 5)

In [ ]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [ ]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
df.Gender=df.Gender.map({'Male':0,'Female':1})
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       0   19            19000          0
1    15810944       0   35            20000          0
2    15668575       1   26            43000          0
3    15603246       1   27            57000          0
4    15804002       0   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       1   46            41000          1
396  15706071       0   51            23000          1
397  15654296       1   50            20000          1
398  15755018       0   36            33000          0
399  15594041       1   49            36000          1

[400 rows x 5 columns]

**Splitting the dataset into the Training set and Test set**

In [ ]:
X=df[['Gender','Age','EstimatedSalary']].values
y=df['Purchased'].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state = 7)

**Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler ## standrard scaling 
scaler = StandardScaler() #initialise to a variable
scaler.fit(X_train) # we are finding the values of mean and sd from the td
X_train_scaled = scaler.transform(X_train) # fit (mean, sd) and then transform the training data
X_test_scaled = scaler.transform(X_test) # transform the test data

**Fitting K-NN to the Training set**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [ ]:
y_pred = knn.predict(X_test_scaled)
y_pred

array([1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0])

**Making the Confusion Matrix**

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[65,  3],
       [ 4, 28]])

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
val=[]
for i in [1,2,3,4,5,6,7,8,9,10,20,50]:
  knn = KNeighborsClassifier(i)
  knn.fit(X_train_scaled, y_train) # train the model
  print('k_value:',i,"Train Accuracy : ", knn.score(X_train_scaled,y_train) * float(100),"Val Accuracy : ", np.mean(cross_val_score(knn, X_train_scaled, y_train, cv=10)) * float(100))
  #print("Val Accuracy : ", np.mean(cross_val_score(knn, X_train_scaled, y_train, cv=10)))
  val.append(np.mean(cross_val_score(knn, X_train_scaled, y_train, cv=10)))

k_value: 1 Train Accuracy :  100.0 Val Accuracy :  85.66666666666669
k_value: 2 Train Accuracy :  94.0 Val Accuracy :  84.00000000000001
k_value: 3 Train Accuracy :  92.33333333333333 Val Accuracy :  89.0
k_value: 4 Train Accuracy :  91.33333333333333 Val Accuracy :  88.66666666666667
k_value: 5 Train Accuracy :  91.66666666666666 Val Accuracy :  90.0
k_value: 6 Train Accuracy :  90.66666666666666 Val Accuracy :  89.33333333333333
k_value: 7 Train Accuracy :  91.33333333333333 Val Accuracy :  90.33333333333333
k_value: 8 Train Accuracy :  90.66666666666666 Val Accuracy :  90.0
k_value: 9 Train Accuracy :  91.0 Val Accuracy :  90.66666666666669
k_value: 10 Train Accuracy :  90.66666666666666 Val Accuracy :  89.66666666666667
k_value: 20 Train Accuracy :  91.0 Val Accuracy :  86.00000000000001
k_value: 50 Train Accuracy :  80.33333333333333 Val Accuracy :  78.33333333333334

In [ ]:
optimal_k = val.index(max(val))
print(optimal_k)

8

In [ ]:
knn = KNeighborsClassifier(9)
knn.fit(X_train_scaled,y_train)
knn.score(X_test_scaled,y_test)

0.91

In [ ]:
knn = KNeighborsClassifier((optimal_k)+1)
knn.fit(X_train_scaled,y_train)
knn.score(X_test_scaled,y_test)

0.91